<!DOCTYPE html>
<html lang="en">
<head>
	<title>!!@TITLE!! - Dark Heresy Overhaul</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
    <!-- Include Bootstrap core CSS and JS from local files -->
	<link href="assets/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="assets/dist/js/bootstrap.bundle.min.js"></script> 
</head>
<body class="bg-dark text-white">


<ul class="nav">
	<li class="nav-item">
		<a class="nav-link" href="DarkHeresyOverhaul.html">Index</a>
	</li>
</ul>


<h1 class="display-3 pt-3 text-center">!!@TITLE!!</h1>
<div class="container-fluid p-3">
